# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Rider
.idea/
wwwroot

# Logs
*.log
logs/
# Publish profiles
**/Properties/PublishProfiles/
*.pubxml
*.pubxml.user

# Environment files
.env
.env.*


# User Secrets
appsettings.Development.json
appsettings.json

# Publish
publish/

# Test Results
TestResults/

# Coverage
coverage/

# OS files
Thumbs.db
.DS_Store